# Your Gemini API Key or GCP setup
GOOGLE_API_KEY=your_gemini_api_key_here
GOOGLE_GENAI_USE_VERTEXAI=True
GOOGLE_CLOUD_PROJECT=your_project_id
GOOGLE_CLOUD_LOCATION=us-central1

# Your Rag Corpus Name (e.g. projects/your_project_id/locations/us-central1/ragCorpora/1234567890)
VERTEX_AI_RAG_CORPUS=projects/your_project_id/locations/us-central1/ragCorpora/1234567890